@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


#header-img {
    max-width: 100%;
    height: 100%;
    grid-area: img
}

body {
    background-color: #E8D9BE;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

#header {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
    color: #607A9C;
}

.nav-link:hover {
    color: white;
    background-color: #607A9C;
}

#main {
    width: 50%;
    margin: auto;
    text-align: center;
    border: solid #BED1E8 10px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

ul {
    list-style: none;
}